# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# IDE settings and directories
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp
*.swp

# Ignore JavaScript files

# Ignore Python files
*.py

# Ignore Java files
*.java
*.class